figure {
    border: 1px solid #ccc; /* рамка */
    background-color: #f1f0f0; /* цвет фона */
    padding: 5px; /* отступы от картинки */
    /*width: 330px; /* ширина картинки */
    }
figcaption {
    text-align: center; /* подпись по центру*/
}

.containerForKiselev{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;

}

.containerForSoloviev{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;

}

.containerForSimonyan{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;

}

.containerForSkabeeva{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;

}

.containerForKadyrov{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;

}